{{!-- <section class="card">
  <header>
    <h1 class="row">{{blogs.title}}</h5>
  </header>
  <p class="content">{{blogs.content}}
  <p>
  <p class="by">Posted by {{blogs.username}} on {{format_date blogs.date_created}}</p>
</section> --}}


<div class="blog-card col-sm-8 mx-auto p-0">
<div class="card text-center">
  <div class="header card-header" style="background-color: #04374d; color: #fdf6f4;">
    By: {{blogs.username}} on {{format_date blogs.date_created}}
  </div>
  <div class="card-body">
    <h1 class="text-center">{{blogs.title}}</h1>
    <p class="card-text">{{blogs.content}}</p>
    
  </div>

</div>
</div>


{{#if blogs.comments.length}}
<div class="comment-list">
  <h3>Comments:</h3>
  {{#each blogs.comments as |comments| }}
  <div class="comments">
    <p class="content">{{comments.content}}</p>

    <p class="by">Posted by {{comments.username}} on {{format_date comments.date_created}}</p>
        <button type="submit" class="delete-btn" data-id="{{comments.id}}">Delete</button>
    
    </div>
  {{/each}}
</div>
{{/if}}

<div>
<form style="margin-bottom: 50px;" action="/api/comments" method="POST">

  <input type="hidden" name="blog_id" value="{{ blogs.id }}">
  <label>Content:</label>
  <textarea class="form-input" rows="4" style="width:100%" name="content" id="content" required></textarea>
  <button style="margin:15px; float:right;" type="submit">Post Comment</button>

</form>
</div>

<script src="/js/deleteComment.js"></script>